In [42]:
import pandas as pd

In [43]:
dta = pd.read_excel("./Data/2012.xlsx")

In [44]:
dta.head(5)

,State,EV_D,EV_R,Total_Vote,D_Percen,R_Percen,Other_Percen,D_Actual,R_Actual,Other_Actual
0,Alabama,0,9,2074338,38.36%,60.55%,1.10%,795696,1255925,"22,717"
1,Alaska,0,3,300495,40.81%,54.80%,4.39%,122640,164676,"13,179"
2,Arizona,0,11,2306559,44.45%,53.48%,2.07%,1025232,1233654,"47,673"
3,Arkansas,0,6,1069468,36.88%,60.57%,2.55%,394409,647744,"27,315"
4,California,55,0,13055815,60.16%,37.07%,2.77%,7854285,4839958,"361,572"

In [45]:
dta.iloc[0]["Other_Percen"][1:-1]

u'1.10'

In [47]:
dta.iloc[0]["Other_Actual"][1:]

u'22,717'

In [50]:
dta.iloc[0]["Total_Vote"]

2074338